<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgba(10, 10, 10, 0.95); border-bottom: 1px solid #444;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/img/icon.png" alt="TaneRoll" width="60" height="60" style="object-fit: contain; vertical-align: middle; margin-right: 10px;">
                    <span style="font-weight: bold; color: #dfe1e1; vertical-align: middle;">TaneRoll</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/Cars/List">Автомобілі</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Cars/Conditions">Умови</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Cars/About">Про нас</a>
                        </li>
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/RentalCart/">Кошик</a>
                            </li>
                        }
                        @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Car" asp-action="Index">(авто)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="CarImages" asp-action="Index">(фото)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="Index">(заявки)</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <button type="submit" class="nav-link btn btn-link">Вийти</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Реєстрація</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Вхід</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        @RenderBody()
    </div>

    <footer class="container mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <p class="text-dark mb-0">© 2024 Усі права захищені · <a href="/Cars/Politic" class="text-dark">Політика конфіденційності</a></p>
            <div class="d-flex align-items-center">
                <div class="d-inline-flex align-items-center me-3">
                    <img src="/img/phone.png" alt="Phone" width="24" height="24" class="me-2">
                    <span class="text-dark">+380971550195</span>
                </div>
                <div class="ms-3 d-inline-flex align-items-center me-3">
                    <img src="/img/instagram.png" alt="Instagram" width="24" height="24" class="me-2">
                    <span class="text-dark">taneroll_project</span>
                </div>
            </div>
            <a href="#" class="btn btn-dark rounded-pill" color: lightgray;">Вгору</a>
        </div>
    </footer>


    <script src="/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
