/* Загальний фон та кольори */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e0e0e0; /* Трохи темніший фон */
    color: #000; /* Чорний текст */
    font-family: 'Roboto', sans-serif; /* Додаємо шрифт Roboto */
}

h1, h2, h3, p {
    color: #000; /* Чорний текст */
}

/* Лінки */
a {
    color: #000; /* Чорний текст */
    text-decoration: none;
    transition: transform 0.2s;
}

    a:hover {
        transform: scale(1.1); /* Збільшення тексту при наведенні */
    }

/* Кнопки */
.btn {
    background-color: #fff; /* Білі кнопки */
    color: #000; /* Чорний текст */
    border: 1px solid #000; /* Чорний контур */
    transition: background-color 0.3s, color 0.3s;
}

    .btn:hover {
        background-color: #000; /* Чорний фон при наведенні */
        color: #fff; /* Білий текст при наведенні */
    }

/* Кнопки сортування - зміни на сині */
.btn-outline-primary {
    background-color: #fff;
    border: 1px solid #007bff; /* Синій контур */
    color: #007bff; /* Синій текст */
}

    .btn-outline-primary:hover {
        background-color: #007bff;
        color: #fff; /* Білий текст при наведенні */
    }

/* Навігація */
nav.navbar {
    background-color: #fff; /* Світлий фон панелі */
    border-bottom: 2px solid #000; /* Чорна рамка */
}

.nav-link {
    color: #000; /* Чорні написи */
    transition: transform 0.2s;
}

    .nav-link:hover {
        transform: scale(1.1); /* Збільшення при наведенні */
    }

/* Карточки автомобілів */
.car-card .card {
    background-color: #fff; /* Білий фон */
    color: #000; /* Чорний текст */
    border: 1px solid #ddd; /* Світлий контур */
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.car-card:hover .card {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Кнопка "Детальніше" - чорна обводка за замовчуванням, жовта без обводки при наведенні */
.btn-primary {
    background-color: #fff;
    border: 1px solid #000; /* Чорна обводка */
    color: #000;
    transition: background-color 0.3s, border 0.3s;
}

    .btn-primary:hover {
        background-color: #ffc107; /* Жовтий фон при наведенні */
        color: #fff; /* Білий текст при наведенні */
        border: none; /* Без обводки при наведенні */
    }

/* Футер */
footer {
    background-color: #e0e0e0; /* Той самий фон, що й основний фон */
    color: #000;
    font-family: 'Roboto', sans-serif; /* Додаємо шрифт Roboto */
    padding: 20px 0;
}

/* Відступ для кнопок сортування */
.sorting-buttons {
    margin-top: 20px; /* Відступ для сортування */
}

/* Прибираємо маркери списку */
#custom_translate_button {
    list-style-type: none; /* Видаляє маркер списку */
    padding-left: 0; /* Видаляє відступ зліва */
}


  


